<!-- About Section -->
<section id="edi">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Education & Development Index (EDI)</h2>
                <h3 class="section-subheading text-muted">An index inspired by the way the Human Development Index (HDI) is computed, linking education and development</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/edi/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>The Human Development Index (HDI)</h4>
                                <h4 class="subheading">Used by the United Nations Development Programme to measure a country's development.</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The HDI ranges from 0 to 1 and increases with a country's development. It is calculated from the combination of three axes:</p>
                                <ul>
                                  <li>Health, quantified by life expectancy at birth</li>
                                  <li>Income, quantified by the GNI per capita</li>
                                  <li>Education, quantified by literacy rate (pre 2010) or average and expected years of schooling (post 2010)</li>
                              </ul>
                          </div>
                      </div>
                  </li>
                  <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/edi/2.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>The Human Development Index (HDI)</h4>
                            <h4 class="subheading">Where it fails</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">It is true that the HDI will be higher for a developed country, as in general high income, long lifespan and better education are found in them. However, the HDI gives a narrow representation of a country's development. In fact, it fails to represent several key aspects of social development. <br>A high income per person does not necessarily mean that the people are rich. For example, a country can have a high income per person but a poor population will rank higher than a country with lower income per person but with more equal wealth distribution. <br>Also, HDI does not indicate how much a country succeeds in ensuring equality among its population, most importantly between genders.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/edi/3.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>December 2012</h4>
                            <h4 class="subheading">Transition to Full Service</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/edi/4.jpg" alt="">
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>July 2014</h4>
                            <h4 class="subheading">Phase Two Expansion</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <h4>Be Part
                            <br>Of Our
                            <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>