<!-- About Section -->
<section id="edi">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Education & Development Index (EDI)</h2>
                <h3 class="section-subheading text-muted">An index inspired by the way the Human Development Index (HDI) is computed, linking education and development</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/edi/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>A novel way of quantifying education</h5>
                                <h6 class="subheading">How?</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nowadays, all indicators are calculated by weights set from previous knowledge of the general trend and ranges of values in the related field. For example, the life expectancy index is calculated as the measured life expectancy value minus 20 and divided by 65, meaning that it would take a value of 0 if the life expectancy value of a country is 20 and 1 if a life expectancy value is 85. This comes from previous knowledge about the life expectancy values all around the world.<br>
                                    Arbitrarily setting the weights of a said indicator, which goal is to quantify a certain aspect of social and economic development takes a considerable amount of effort, trying to study all the details of the fields related to that indicator. In addition to this, the weights of the indicators have to be constantly changed to adapt with the temporal changes across countries.<br>
                                    For this reason, we tried to find a way to create our own index, using Machine Learning tools to optimize the selection of weights. The higher the value of the index will be, the better the overall performance in education of a country is.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/edi/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>The Human Development Index (HDI)</h5>
                                <h6 class="subheading">Used by the United Nations Development Programme to measure a country's development.</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The HDI ranges from 0 to 1 and increases with a country's development. It is calculated from the combination of three axes:<br>
                                Health, quantified by life expectancy at birth<br>
                                Income, quantified by the GNI per capita<br>
                                Education, quantified by literacy rate (pre 2010) or average and expected years of schooling (post 2010)</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/edi/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>The Human Development Index (HDI)</h5>
                                <h6 class="subheading">Where it fails</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">It is true that the HDI will be higher for a developed country, as in general high income, long lifespan and better education are found in them. However, the HDI gives a narrow representation of a country's development. In fact, it fails to represent several key aspects of social development. <br>A high income per person does not necessarily mean that the people are rich. For example, a country can have a high income per person but a poor population will rank higher than a country with lower income per person but with more equal wealth distribution. <br>Also, HDI does not indicate how much a country succeeds in ensuring equality among its population, most importantly between genders.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/edi/4.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>The Education & Development Index (EDI)</h5>
                                <h6 class="subheading">Predicting development with education using Machine Learning</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Using the data we have, we tried creating an index that predicts the development of countries based on a weighted sum of the education indicators cited previously. The value range of the index is the same as that of HDI, i.e. ranging from 0 to 1 and increasing with a country's development.<br>A machine learning regression model was trained in order to find the weights that predict development the best. But first, we had to define development.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/edi/5.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>The Education & Development Index (EDI)</h5>
                                <h6 class="subheading">Defining development</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">After analysis of the available indicator values in our dataset as well as their meaningfullness, we extracted a selection of 4 indicators in an effort to obtain a vision broader than that of HDI, considering gender equality and employment rate. The new index is the geomtric mean of four indexes, each one scaled from 0 to 1 and representing a major axis of development:<br>
                                    Employment : Employment to population ratio<br>
                                    Health : life expectancy at birth (0 is 20 and 1 is 85)<br>
                                    Income : GNI per capita logarithmically scaled (0 is 100 and 1 is 7500)<br>
                                Gender Equality: Women's Share of Total Labor Force (0 is 0 or 100 and 1 is 50)</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/edi/6.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>The Education & Development Index (EDI)</h5>
                                <h6 class="subheading">Training the dataset</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A ridge regession model was trained with the EDI as a target value. The EDI was computed first using the previously defined method (geometric mean of the four axes: employment, health, income and gender equality). Then a series of education-related indicators (enrollment ratios, male/female school life expectency, public expenditure on education). After an optimization with generalized cross-validation, the model output a set of weights that map the education indicators (education space) to an EDI value (development space).</p>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
        <div class="row">
            <p>After computing the EDI with the development indicators, we see that some of our educational indicators correlate well with it, especially the secondary enrollment percentage with a value of 0.61. Two indicators have a negative correlation as they correspond to the pupil-teacher ratios. The higher the students are compared to the number of teachers, the less the EDI value is.</p>

        </div>
    </div>
    
</section>