<!-- Services Section -->
<section id="indicators">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Indicators</h2>
        <h3 class="section-subheading text-muted">Based on analysis of the dataset, the most compelling indicators were extracted</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Education indicators</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Male/Female school life expectancy: </b><br>School life expectancy is defined as the total number of years of schooling which a male/female child of a certain age can expect to receive in the future, assuming that the probability of his or her being enrolled in school at any particular age is equal to the current enrolment ratio for that age.</li>
          <li class="list-group-item"><b>Gross/Net enrollment ratio in primary/secondary/tertiary education : </b><br>Net enrollment ratio is the ratio of children of official school age (gross does not take age into account) based on the International Standard Classification of Education 1997 who are enrolled in school to the population of the corresponding official school age.</li>
          <li class="list-group-item"><b>Pupil-teacher ratio in primary/secondary education : </b><br>Primary/Secondary school pupil-teacher ratio is the number of pupils enrolled in primary/secondary school divided by the number of primary/secondary school teachers (regardless of their teaching assignment). 
          <li class="list-group-item"><b>Percentage of GNI spent on education : </b><br>Public spending on education includes direct expenditure on educational institutions as well as educational-related public subsidies given to households and administered by educational institutions.</li>
        </ul>

      </div>
      <div class="col-md-6">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Social and economic indicators</h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Human Development Index (HDI): </b><br>The HDI is based on the following three indicators: longevity, as measured by life expectancy at birth; educational attainment, as measured by a combination of adult literacy (two-thirds weight) and combined primary, secondary and tertiary enrollment ratios (one-third weight); and standard of living, as measured by real GDP per capita (PPP $).</li>
          <li class="list-group-item"><b>GNI per capita : </b><br>GNI per capita  (formerly GNP per capita) is the gross national income, converted to U.S. dollars, divided by the population. At current prices in US$.</li>
          <li class="list-group-item"><b>Employment-to-population ratio : </b><br>The employment-to-population ratio is equal to the number of persons employed divided by the working-age population and multiplied by 100.</li>
          <li class="list-group-item"><b>Percentage of women participation in workforce:</b><br>Economically active female population is equal to the number of economically active women divided by the economically active population and multiplied by 100.</li>
          <li class="list-group-item"><b>Life expectancy at birth:</b><br>Life expectancy at birth is the average number of years a newborn is expected to live provided that mortality patterns at the time of its birth remain constant in the future.</li>
        </ul>
      </div>
    </section>