<!-- Services Section -->
<section id="indicators">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Indicators</h2>
                <h3 class="section-subheading text-muted">Based on analysis of the dataset, the most compelling indicators were extracted</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-5">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Education indicators</h4>
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action">Female school life expectancy</a>
                  <a href="#" class="list-group-item list-group-item-action">Male school life expectancy</a>
                  <a href="#" class="list-group-item list-group-item-action">Total enrolment in primary education</a>
                  <a href="#" class="list-group-item list-group-item-action">Total enrolment in secondary education</a>
                  <a href="#" class="list-group-item list-group-item-action">Total enrolment in tertiary education</a>  
                  <a href="#" class="list-group-item list-group-item-action">Pupil-teacher ratio in primary education</a>
                  <a href="#" class="list-group-item list-group-item-action">Pupil-teacher ratio in secondary education</a>
                  <a href="#" class="list-group-item list-group-item-action">Percentage of public budget spent on education</a>
                  <div class="list-group">
                  </div>
                  <div class="col-md-5">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-city fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Social and economic indicators</h4>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">HDI: Human Development Index</a>
                      <a href="#" class="list-group-item list-group-item-action">GDP per capita</a>
                      <a href="#" class="list-group-item list-group-item-action">Employment to population ratio</a>
                      <a href="#" class="list-group-item list-group-item-action">Percentage of women participation in workforce</a>
                      <a href="#" class="list-group-item list-group-item-action">Urban population to total population percentage</a>  
                      <a href="#" class="list-group-item list-group-item-action">Life expectancy at birth, total (years)</a>
                      <div class="list-group">
                      </div>
                  </div>
              </div>
          </section>