<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include indicators.html %}
    {% include pie_chart_gdp_2019.html %}
    {% include GDP_average_afr.html %}
    {% include stories.html %}
    {% include edi.html %}
    {% include EDI_2015.html %}
    {% include HDI_EDI_scatter.html %}
    {% include team.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>